@font-face {
    font-family: boardFont;
    src: url(../fonts/kimberly-geswein_kg-ten-thousand-reasons/KGTenThousandReasonsAlt.ttf);
}

html {
    background: #505D6E url(../images/body6.jpg) no-repeat center center fixed;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
    overflow: hidden;
}

header title {

    font-family: 'Wire One', Helvetica, Arial, sans-serif;
    font-size: 7em;
    margin-top: 15px;
    color: #FFFFCC;
    font-weight: normal;
    display: block;
    text-align: center;

}

div.container {
    display: block;
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
}

div.raport, div.raport h1 {
    /*
        font-family: 'Wire One', Helvetica, Arial, sans-serif;
    */
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
    color: #FFFFCC;
}

div.raport p {
    line-height: 15px;
}

div.container #textarea {
    height: 200px;
    width: 100%;
    overflow: auto
}

div.container #textarea p {
    height: auto;
    min-height: 26px;
    border: 0 none;
    background-color: #FFFFCC;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 7px;
}

p.user {
    opacity: 0.6;
}

p.bot {
    opacity: 0.8;
}

form.submit {
    padding-top: 50px;
}

input {
    width: 79%;
    height: 25px;
}

.btn {
    color: #000000;
    text-shadow: none;
    text-decoration: none;
    border: 0 none;
    opacity: 0.8;
    background-color: #FFFFCC;
    height: 30px;
    width: 19%;
    float: right;
}

.btn:hover {
    color: #000;
    opacity: 0.5;
}

input.reload {
    background-image: url(../images/icon.png);
}

input.raport {
    background-image: url(../images/report.png);
}

input.reload, input.raport {

    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    float: right;
    margin-left: 10px;
}

input.reload:hover, input.raport:hover {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 5px;
}

.menu {
    margin-right: 0.5%;
}

.footer {
    text-align: center;
    position: inherit;
    color: #FFFFCC;
    padding-top: 112px;
    font-size: small;
    font-family: Helvetica, Arial, sans-serif;
}




